/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
    model = "My ZMK Mouse";
    compatible = "zmk,my-mouse";

    chosen {
        zephyr,flash = &flash0;
        zephyr,sram = &sram0;
        zephyr,code-partition = &slot0_partition;
    };
    
    zmk_mouse {
        compatible = "zmk,mouse";

        buttons {
            compatible = "zmk,mouse-buttons";

            lmb {
                gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
                button = <1>;
                label = "LMB";
            };

            mmb {
                gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
                button = <3>;
                label = "MMB";
            };

            rmb {
                gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
                button = <2>;
                label = "RMB";
            };

            back {
                gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
                button = <4>;
                label = "BACK";
            };

            forward {
                gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
                button = <5>;
                label = "FORWARD";
            };
        };
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN_DIRECT";

        input-gpios = <
            &gpio0 12 GPIO_ACTIVE_LOW
        >;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&kp A>;
        };
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@0 {
            label = "image-0";
            reg = <0x00000000 0x000F0000>;
        };

        storage_partition: partition@f0000 {
            label = "storage";
            reg = <0x000F0000 0x00010000>;
        };
    };
};
